manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.21.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!20.04.1'
}

params {
   global {
      project_name = '20201031_FCA_BioHub_B1_B2_Head'
      outdir = 'out'
      species = 'fly'
      genome {
         assembly = 'dm6'
      }
      seed = 190
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.3.0'
      publish {
         compressionLevel = 9
      }
   }
   sc {
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
      }
      file_concatenator {
         join = 'outer'
         off = 'h5ad'
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:0.5.0'
         report {
            annotations_to_plot = ["batch_id","fca_id","fly_genetics","sex","tissue","age","dissection_lab","note"]
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            method = 'mean_disp_plot'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            method = 'leiden'
            resolutions = [0.4,0.6,0.8,1.0,1.2,1.4,1.6,1.8,2,4,6,8,10,12,14,16,18,20,25,50]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterStrategy = 'adaptivethresholds'
            cellFilterMinNGenes = 200
            cellFilterMinNCounts = 500
            cellFilterMaxPercentMito = 0.05
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            countsPerCellAfter = 10000
            off = 'h5ad'
         }
         regress_out {
            variablesToRegressOut = ['n_counts', 'percent_mito']
            off = 'h5ad'
         }
      }
      harmony {
         container = 'vibsinglecellnf/harmony:1.0'
         report_ipynb = '/src/harmony/bin/reports/sc_harmony_report.ipynb'
         varsUse = ['batch']
      }
      scope {
         genome = 'Flybase r6.31 pre-mRNA v3.1'
         tree {
            level_1 = 'Head'
            level_2 = '25c6750a'
            level_3 = ''
         }
      }
      scenic {
         container = 'aertslab/pyscenic:0.10.3'
         scenicoutdir = 'out/scenic/'
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = true
         grn {
            algorithm = 'grnboost2'
            tfs = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/resources/allTFs_dmel.txt'
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            output = 'reg.csv'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = '/staging/leuven/res_00001/databases/cistarget/databases/drosophila_melanogaster/dm6/flybase_r6.02/mc8nr/gene_based/dm6-5kb-upstream-full-tx-11species.mc8nr.feather'
            motifsAnnotation = '/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v8-nr.flybase-m0.001-o0.0.tbl'
            tracksDb = '/ddn1/vol1/staging/leuven/stg_00002/lcb/saibar/Projects/epiSCENIC/2019-06_ChipDB/Chip_dbs_v2_20190627/encode_modERN_20190621__ChIP_seq.max_GENEBASED.feather'
            tracksAnnotation = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/scenic/db/dm6/encode_modERN_20190621_dm6_annotation.track_to_tf_in_motif_to_tf_format.tsv'
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
         }
      }
      directs {
         container = 'vibsinglecellnf/directs:0.1.0'
         select_default_clustering {
            cellEmbeddingsIndex = 0
            fromMinClusterSize = 5
            toMinClusterSize = 100
            byMinClusterSize = 5
            fromMinSamples = 5
            toMinSamples = 100
            byMinSamples = 5
         }
      }
      sample_annotate {
         off = 'h5ad'
         by {
            metadataFilePath = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/fca/metadata/fca_biohub_batch1-2-3-4_metadata_v3.tsv'
            method = 'sample'
            sampleColumnName = 'id'
         }
      }
   }
   data {
      h5ad {
         file_paths = [
            "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/fca/analysis/in-house/20201028_000__all__single_sample_decontx_scrublet__75ac57f0-1953-11eb-a287-a0000220fe80/out/data/*_Head*.CELDA_DECONTX_CORRECT_SCRUBLET.h5ad",
            "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/fca/analysis/in-house/20201028_000__all__single_sample_decontx_scrublet__75ac57f0-1953-11eb-a287-a0000220fe80/out/data/*_head_*.CELDA_DECONTX_CORRECT_SCRUBLET.h5ad",
         ]
         suffix = '.CELDA_DECONTX_CORRECT_SCRUBLET.h5ad'
      }
   }
   pcacv {
      container = 'vibsinglecellnf/pcacv:0.2.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
         fromNPC = 5
         toNPC = 250
         byNPC = 10
      }
   }
}

process {
   executor = 'local'
   withLabel:'compute_resources__.*|compute_resources__default' {
      cpus = 2
      clusterOptions = '-A <account_string>'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
   }
   withLabel:compute_resources__mem {
      cpus = 1
   }
   withLabel:compute_resources__cpu {
      cpus = 16
      memory = '60 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 4
      memory = '60 GB'
      time = '24h'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 19
      memory = '120 GB'
      time = '24h'
      executor = 'pbs'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 16
      memory = '250 GB'
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 16
      memory = '250 GB'
   }
   withLabel:compute_resources__pcacv {
      cpus = 16
   }
   afterScript = {
      // Source: https://github.com/nextflow-io/nextflow/issues/1166#issuecomment-502467562
      logMainDir = params.logDir

      // Check whether log dir is located in S3 if using awsbatch and is a local directory otherwise
      if (workflow.profile == "aws") {
         if (!logMainDir.matches("^s3://.*")) logMainDir = "s3:/" + workflow.workDir.toString() + "/log"
      } else {
         logMainDir = workflow.launchDir.resolve(logMainDir).toString()
         if (!logMainDir.matches("^/.*")) logMainDir = workflow.launchDir.toString() + "/log"
      }

      // Build log directory path based on task name
      logSubDir = task.name.replace(" (null)", "").replace(" ", "/").replaceAll(" ", "_").replaceAll("[()]", "")
      logDir = logMainDir + "/" + logSubDir

      // Define command to copy log files 
      cpLogCmd = workflow.profile == "aws" ?
         "nxf_s3_upload '*.txt' ${logDir}; " :
         "mkdir -p ${logDir}; cp -a *.txt ${logDir}; "

      // Assemble final command
      cmd = "ls -alR --full-time > .command.ls; "
      cmd += "mkdir nxf_log; "
      cmd += "for file in .command.*; do cp -a \${file} nxf_log/\${file#.}.txt; done; "
      cmd += "cd nxf_log; "
      cmd += cpLogCmd
      cmd += "cd ..;"
      cmd
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/,/staging/leuven/stg_00002/ -B /ddn1/vol1/site_scratch/leuven/313/vsc31325/'
}
