manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.19.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!20.04.1'
}

params {
   misc {
      test {
         enabled = false
      }
   }
   global {
      project_name = 'FCA_BioHub_B3_Gut'
      outdir = 'out'
      qsubaccount = ''
      qsubemail = ''
      species = 'fly'
      genome {
         assembly = 'dm6'
      }
   }
   sc {
      file_concatenator {
         join = 'outer'
         off = 'h5ad'
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:0.5.0'
         report {
            annotations_to_plot = ["batch_id","fca_id","fly_genetics","sex","tissue","age","dissection_lab","note"]
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            method = 'mean_disp_plot'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               nJobs = 10
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            method = 'leiden'
            resolutions = [0.4,0.6,0.8,1.0,1.2,1.4,1.6,1.8,2,4,6,8,10]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterMinNGenes = 200
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            countsPerCellAfter = 10000
            off = 'h5ad'
         }
      }
      harmony {
         container = 'vibsinglecellnf/harmony:1.0'
         report_ipynb = '/src/harmony/bin/reports/sc_harmony_report.ipynb'
         varsUse = ['batch']
      }
      directs {
         container = 'vibsinglecellnf/directs:0.1.0'
         labels {
            processExecutor = 'local'
         }
         select_default_clustering {
            fromMinClusterSize = 5
            toMinClusterSize = 100
            byMinClusterSize = 5
         }
      }
      scenic {
         container = 'aertslab/pyscenic:0.10.0'
         scenicoutdir = 'out/scenic/'
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         numWorkers = 16
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = true
         grn {
            labels {
               processExecutor = 'qsub'
            }
            algorithm = 'grnboost2'
            pmem = '3500mb'
            maxForks = 1
            numWorkers = 34
            walltime = '23:59:59'
            tfs = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/resources/allTFs_dmel.txt'
         }
         cistarget {
            labels {
               processExecutor = 'local'
            }
            adj = 'adj.tsv'
            type = ''
            output = 'reg.csv'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            pmem = '2gb'
            maxForks = 1
            numWorkers = 16
            walltime = '23:59:59'
            motifsDb = '/staging/leuven/res_00001/databases/cistarget/databases/drosophila_melanogaster/dm6/flybase_r6.02/mc8nr/gene_based/dm6-5kb-upstream-full-tx-11species.mc8nr.feather'
            motifsAnnotation = '/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v8-nr.flybase-m0.001-o0.0.tbl'
            tracksDb = '/ddn1/vol1/staging/leuven/stg_00002/lcb/saibar/Projects/epiSCENIC/2019-06_ChipDB/Chip_dbs_v2_20190627/encode_modERN_20190621__ChIP_seq.max_GENEBASED.feather'
            tracksAnnotation = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/scenic/db/dm6/encode_modERN_20190621_dm6_annotation.track_to_tf_in_motif_to_tf_format.tsv'
         }
         aucell {
            labels {
               processExecutor = 'local'
            }
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            pmem = '2gb'
            maxForks = 1
            numWorkers = 16
            walltime = '23:59:59'
         }
      }
      file_converter {
         iff = 'h5ad'
         tagCellWithSampleId = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
      }
      sample_annotate {
         iff = '10x_cellranger_mex'
         off = 'h5ad'
         type = 'sample'
         metaDataFilePath = '../../../../fca_biohub_sample_metadata.tsv'
      }
      scope {
         genome = 'Flybase r6.31 pre-mRNA v3.1'
         tree {
            level_1 = 'Gut'
            level_2 = '8de3e8d8'
            level_3 = ''
         }
      }
   }
   data {
      h5ad {
         file_paths = [
            "./../../../Part 2 - Pre-filtering/batch3__633316f6-d1a3-11ea-afa9-20001033fe80/out/data/scrublet/*gut*.SCRUBLET.SC__APPLY_OBS_FILTER.h5ad",
         ]
         suffix = '.SCRUBLET.SC__APPLY_OBS_FILTER.h5ad'
      }
   }
   pcacv {
      container = 'vibsinglecellnf/pcacv:0.2.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
         nCores = 16
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.3.0'
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
      publish {
         compressionLevel = 9
      }
   }
   parseConfig = { sample, paramsGlobal, paramsLocal ->
         def lv = { a,b -> return org.codehaus.groovy.runtime.MethodRankHelper.delDistance(a, b) }
         def pL = paramsLocal.collectEntries { k,v ->
            if (v instanceof Map) {
               if (v.containsKey(sample))
                  return [k, v[sample]]
               if (v.containsKey('default'))
                  return [k, v['default']]
               def closeMatches = v.collectEntries { vk, vv -> [lv(vk, sample), vk] }.keySet().findAll { it < 30}
               if(closeMatches.size() > 0)
                  throw new Exception("The sample " + sample + " is not found in " + v +" ; Make sure your samples are correctly specified when using the multi-sample feature.")
               else
                  return [k,v]
            } else {
               return [k,v]
         }
      }
      return [global: paramsGlobal, local: pL]
   }
}

process {
   maxForks = 2
   executor = 'local'
   withLabel:qsub {
      executor = 'pbs'
   }
   withLabel:local {
      executor = 'local'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/,/staging/leuven/stg_00002/'
}
